es_5m_data.csv
es_1m_data.csv
es_15m_data.csv
es_30m_data.csv
es_1h_data.csv
es_4h_data.csv
backtest.log
launch_ibgateway.sh
venv/
es_daily_data.csv
es_monthly_data.csv
es_quarterly_data.csv
es_weekly_data.csv
nq_1h_data.csv
nq_4h_data.csv
nq_30m_data.csv
nq_15m_data.csv
nq_5m_data.csv
nq_daily_data.csv
cl_5m_data.csv
cl_15m_data.csv
cl_30m_data.csv
cl_1h_data.csv
cl_4h_data.csv
cl_daily_data.csv
ng_daily_data.csv
ng_4h_data.csv
ng_1h_data.csv
ng_30m_data.csv
ng_5m_data.csv
ng_15m_data.csv